
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Qwitcher+Grypen:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    text-align: center;
    background-color: #292c2a;
    background-size:300%;
    font-family: "poppins",sans-serif;
}
.hole{
    background: linear-gradient(270deg, #042eff 0%, #ff0000 100%); 
    animation: animationName 0.6s ease infinite;
    background-size: 400% 400%;
    width: 90%;
    border-radius: 500px;
    height: 370px;
    text-align: center;
    margin-left: 05%;
    margin-top: 5%;
    box-shadow: 0px 0px 20px 0px rgb(32, 31, 31);
    
}
@keyframes animationName {
                    
    0% { background-position: 10% 50%; }
                      
    50% { background-position: 100% 150%; }
                      
    100% { background-position: 10% 150%; }
                    
  }

.black{
    width: 80%;
    height: 280px;
    background-image: url(music.webp);
    background-size: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 300px;
    margin-left: 10%;
    box-shadow: 0px 0px 30px 0px ;
    
}
.top{
    height: 12%;
}
.music{
    width: 80%;
    border-radius: 40px;
    box-shadow: 0px 0px 20px 0px rgb(107, 107, 107) ;
    
}
h2{
    font-family: "Qwitcher Grypen", cursive;
    color: white;
    font-size: 60px;
}
